.loginForm {
  margin: 10px;
  border: 2px solid black;
  height: 80px;
  float: right;
  position: absolute;
  top: 0;
  right: 0;
}
.login-btn {
  width: 50%;
  text-align: center;
  background-color: blue;
  color: white;
  padding: 5px;
}
